a {
    color: purple;
    transition: color 0.3s ease;
}
a:hover { color: blueviolet; }
a:active { color: mediumpurple; }

header {
    display: flex; /* Use flexbox for easy alignment */
    align-items: center; /* Vertically center the content */
    padding-bottom: 13px;
}

.nolisten {
    background-color: whitesmoke;
}

.listening {
    animation: color-change 4s infinite; /* Adjust duration as needed */
}

@keyframes color-change {
    0% {  box-shadow: 0 0 10px 5px #ef9770; }
    20% { box-shadow: 0 0 10px 5px #ffd133; }
    40% { box-shadow: 0 0 10px 5px #ff33e0; }
    60% {  box-shadow: 0 0 10px 5px #E64C00; }
    80% {  box-shadow: 0 0 10px 5px #f3ced9; }
    100% {  box-shadow: 0 0 10px 5px #e7acca; }
}

#focalChat {color:lightseagreen; }

.header-text {
    font-size: 1.4em;
    margin-right: auto; /* Push the buttons to the right */
    margin-bottom:10px;
    margin-bottom:10px;
}


.symbol {
    font-size: 18px;
}

#fileContents {
    max-width: 95%;
    min-width:500px;
    min-height:300px;
    font-size: 11px;
    white-space: pre;
    font-family: monospace; /* Use a monospace font for better alignment */
}
#listen-button .symbol {
    background: linear-gradient(to bottom, #ffd, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.activeOn {
    outline: 1px solid #cc0000;
}
.mic-button {
    margin-left: 25px;
    width: 50px;
    height: 50px;
    background-color: #cc0000; /* Red */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Add box-shadow transition */
}



.mic-button::before {
    content: '\1F3A4'; /* Unicode for microphone icon */
    font-size: 24px;
    color: white;
}



#main { margin-left: auto;
    margin-right: auto; width:700px}
section {margin-left: auto;
    margin-right: auto;}

td.head {font-weight: 800}

body {
    padding:5px;
    font-family: "Montserrat", sans-serif;
}


main {
    max-width: 90%;
    margin: 0 auto;
}

.intro { margin: 0 auto; padding:1.4rem}

#input-text {
    background: #ccd6cf;
    border: 0;
    width: 99%
}


input, textarea, ::placeholder {
    outline: none;
    font-family: "Montserrat", sans-serif;
    font-size:1em;
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .column {
        flex: auto; /* Allow columns to take their natural width on smaller screens */
        width: 100%; /* Make columns full width on smaller screens */
    }
}

.left, .right {
    padding: 10px;
}


.option {
    padding: 25px 5px 5px 65px;
    opacity: 0; /* Start hidden */
    animation: fadeIn .8s forwards;
}

.option.noshow {
    display:none;
}

.option.delay-0 {
    animation-delay: 200ms;
}

.option.delay-1 {
    animation-delay: 400ms;
}

.option.delay-2 {
    animation-delay: 800ms;
}

.option.delay-3 {
    animation-delay: 900ms;
}

.option.delay-4 {
    animation-delay: 900ms;
}

.option.delay-5 {
    animation-delay: 900ms;
}
.option.delay-6 {
    animation-delay: 200ms;
}
.option.delay-7 {
    animation-delay: 3000ms;
}

/* Add more delay classes as needed */

@keyframes fadeIn {
    to {
        opacity: 1; /* End fully visible */
    }
}

.over {
    font-style: italic;
    color: #666
}
.section {max-width: 690px}


.circle-button {
    margin-left:25px;
    width: 50px;            /* Adjust size as needed */
    height: 50px;
    background-color: #007bff; /* Customize background color */
    border-radius: 50%;
    display: flex;           /* Center the symbol */
    align-items: center;
    justify-content: center;
    cursor: pointer;        /* Change cursor to pointer on hover */
    transition: background-color 0.3s ease; /* Add smooth transition for hover effect */
}

.circle-button:hover {
    background-color: #0056b3; /* Darker shade on hover */
}

.symbol {
    font-size: 24px;      /* Adjust symbol size as needed */
    color: white;         /* Customize symbol color */
    font-weight: bold;

}

.continuous-feed {
    max-height: 400px;
    overflow-y: scroll;}



.left-bubble {
    padding: 25px 5px 10px 25px;
    position: relative;
    background: #cbe0e2;
    border-radius: .4em;
    margin-bottom:10px;
    min-height:70px;
    height: auto;}



.left-bubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 25%;
    width: 0;
    height: 0;
    border: 0.9em solid transparent;
    border-right-color: #cbe0e2;
    border-left: 0;
    border-bottom: 0;
    margin-top: -0.266em;
    margin-left: -0.82em;


}

.right-bubble:empty {display:none;}

.right-bubble:after {
    content: '';
    position: absolute;
    right: 0;
    top: 28%;
    width: 0;
    height: 0;
    border: 0.9em solid transparent;
    border-left-color: #ccd6cf;
    border-right: 0;
    border-bottom: 0;
    margin-top: -0.281em;
    margin-right: -0.862em;
}

.right-bubble {
    position: relative;
    background: #ccd6cf;
    padding: 10px;
    border-radius: .4em;
}

.left-bubble:before {
    max-width: 45px;
    color: #999;
    font-size: .9em;
    position: absolute;
    content: attr(model);
    top: 10%;
    left: -75px;
    border-radius: 4px;

}

.right-bubble:before {
    padding-left:16px;
    color: #999;
    font-size: .9em;
    position: absolute;
    content: "You";
    top: 20%;
    left: 100%;
    border-radius: 4px;
}


.right-bubble.glow:before {
    text-shadow: 0 0 10px yellow; /* Adjust values for desired glow effect */
}

@media only screen and (max-width: 800px) {

    .left-bubble:before {
        padding:3px;
        color: azure;
        font-size: .9em;
        position: absolute;
        content: attr(model);
        top: -15px;
        left: 26px;
        max-width:130px;
        border-radius: 4px;
        background-color: #666;

    }

    .left-bubble:after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        border: 20px solid transparent;
        border-bottom-color: #cbe0e2;
        border-top: 0;
        border-left: 0;
        margin-left: -337px;
        margin-top: -7px;
        rotate: 47deg;
    }


    .right-bubble:before {
        padding:3px;
        color: azure;
        font-size: .9em;
        position: absolute;
        content: "you";
        top: -15px;
        left: 645px;
        border-radius: 4px;
        background-color: #666;

    }

    .right-bubble:after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 0;
        height: 0;
        border: 14px solid transparent;
        border-bottom-color: #ccd6cf;
        border-top: 0;
        border-right: 0;
        margin-left: 324px;
        margin-top: -6px;
        rotate: -52deg;
    }
}


body {
    padding: 1rem;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    body {
        padding: 1rem; /* Increase padding for larger screens */
    }
}

.demo-intro {
    font-weight: 400;
    font-style: normal;
}

.header {    color: #999;
    display:inline-block;
    font-size: .9em;
}

.slide{height: auto}

.button-group {
    display: inline-flex;
    max-height: 40px;
}

.example {
    background-color: #e0e0e0; /* Default background color */
    margin-left:1px;
    display:inline-block;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition */
}

.example:hover {
    background-color: #ccc; /* Hover effect */
}

.example.active {
    background-color: #007bff; /* Active state color */
    color: white;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 550px}

/* The Close Button */
.close-button {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#send-button {margin:6px;}

.switch {
    position: relative;
    display: inline-block;
    margin-top: 10px;
    width: 60px; /* Adjust width as needed */
    height: 34px; /* Adjust height as needed */
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px; /* Rounded edges */
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}


input:checked + .slider:before {
    transform: translateX(26px); /* Move thumb to the right on checked */
}

*[placeholder]:empty::before {
    content: attr(placeholder);
    color: #999;
}

[placeholder]:empty:focus::before {
    content: "";
}

.api  {
    display:none;
    padding-left:10px;
    margin-top: 11px;
    min-height: 28px;
    border: 1px solid #999;
    font-size: .8em;
    max-width: 700px;
    color: #444;

    }

.vis {border:none;}

#request{ margin-top:20px;border-top:10px solid #e0e0e0;}

.help { color:#ccc;
    font-variant: small-caps}


.pen-icon {
    font-size: 19px;
    border: 1px solid #fff;
    float: right;
    display: none;
}

.pen-icon:hover {
    border: 1px solid midnightblue;
}


textarea:disabled {
    background-color: #f5f5f5;
    color: #999; /* Grayed-out text */
    cursor: not-allowed;
    border: 1px solid #ccc;
}

.pass:before {
    content: "✔ ";

}

.fail:before {
    content: "✘ "
}


.img-representative { float:left; margin:2px; display:inline-block; padding:4px; background-color:lightgrey}
.on {background-color: lightcyan;}


#manifest {
    border: 1px solid #ccc;
    position: relative; /* Needed for absolute positioning of pseudo-element */
    padding: 20px;
}

#manifest::after {
    position: absolute;
    top: 5px;
    right: 5px;
    content: "";
    display: inline-block;
    background-color: lightblue;
    padding: 5px;
    border-radius: 3px;
    font-size: 1.1em;
}

#manifest.goal-active::after {
    content: var(--data-goal);
}


#manifest.goal-active::before {
    content: "Goal: ";
}
#manifest:empty::before {
    /* Your styles for the pseudo-element here */
    content: " ";
}

